<!DOCTYPE html>

<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name = "Author": content = "Steve_Chung">
	
	<title>TorrentInfo</title>
	<link rel = "stylesheet" type = "text/css" href = "../static/css/mod.css"></link>
	<script type="text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
	<script type = "text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
	<script type="text/javascript" src = "../static/js/control.js"></script>
</head>

<div class = "title_name">
	<h1>Torrent&nbsp;Info</h1>
</div>

<div class = "input_div">
	<form id = "file_form" class = "form_file_class" method = "post" action = "/file_process" enctype = "multipart/form-data">
		<label id = "file_upload_btn" class = "btn">
			<input id = "post_f" name = "file" type = "file" class = "post_file" multiple>
			<span style = "font-size : 60px;">UPLOAD FILE HERE</span>			
		</label>	
	</form>
	
	
	
	<form id = "magnet_form" action = "/magnet_process" method = "post" enctype = "application/x-www-form-urlencoded">
		<input id = "magnet_text" name = "magnet_link" type = "text" placeholder = "Enter magnet link here"/>
	</form>
	
</div>

<div class = "check_button">
	<p>
		<button id = "file_box" type = "button">Upload Torrent</button>
		<button id = "magnet_input" type = "button">Magnet Link</button>
	</p>
	
	
</div>


<div class = "torrent_info">
	<span style = "color:black;font-size:20px">Torrent Info</span>
	<p id = "magnet_result"></p>
	<p id = "torrent_result"></p>
</div>

</html>
